In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine=create_engine('sqlite:///C:/Users/61435/Desktop/SpringBoard_Assignments/SQL Case Study/1602668798_SQLFiles_Tier_2_updated_10_13_2020/SQLFiles Tier 2/sqlite_db_pythonsqlite.db')

In [4]:
df=pd.read_sql_query('select * from Members',engine)

In [5]:
df.head()

,memid,surname,firstname,address,zipcode,telephone,recommendedby,joindate
0,0,GUEST,GUEST,GUEST,0,(000) 000-0000,,2012-07-01 00:00:00
1,1,Smith,Darren,"8 Bloomsbury Close, Boston",4321,555-555-5555,,2012-07-02 12:02:05
2,2,Smith,Tracy,"8 Bloomsbury Close, New York",4321,555-555-5555,,2012-07-02 12:08:23
3,3,Rownam,Tim,"23 Highway Way, Boston",23423,(844) 693-0723,,2012-07-03 09:32:15
4,4,Joplette,Janice,"20 Crossing Road, New York",234,(833) 942-4710,1,2012-07-03 10:25:05

In [6]:
df1=pd.read_sql_query('SELECT name, revenue FROM(SELECT f.name, SUM(CASE WHEN memid =0 THEN slots * guestcost ELSE slots * membercost END ) AS revenue FROM Bookings b INNER JOIN Facilities f ON b.facid = f.facid GROUP BY f.name) AS a WHERE revenue <1000 ORDER BY revenue',engine)

In [7]:
df1.head()

            name  revenue
0   Table Tennis      180
1  Snooker Table      240
2     Pool Table      270

In [13]:
df2=pd.read_sql_query('SELECT CONCAT( m.firstname, ' ', m.surname ) AS member, (SELECT CONCAT( r.firstname, ' ', r.surname ) AS rec FROM Members r WHERE r.memid = m.recommendedby) FROM Members m ORDER BY member',engine)

OperationalError: (sqlite3.OperationalError) near ",": syntax error
[SQL: SELECT CONCAT( m.firstname, , m.surname ) AS member, (SELECT CONCAT( r.firstname, , r.surname ) AS rec FROM Members r WHERE r.memid = m.recommendedby) FROM Members m ORDER BY member]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [14]:
df3=pd.read_sql_query('SELECT name FROM Facilities WHERE facid IN (SELECT facid FROM Bookings WHERE memid !=0)',engine)

In [15]:
df3.head()

              name
0   Tennis Court 1
1   Tennis Court 2
2  Badminton Court
3     Table Tennis
4   Massage Room 1

In [16]:
df4=pd.read_sql_query('SELECT name FROM Facilities WHERE facid IN (SELECT facid FROM Bookings WHERE memid =0)',engine)

In [17]:
df4

              name
0   Tennis Court 1
1   Tennis Court 2
2  Badminton Court
3     Table Tennis
4   Massage Room 1
5   Massage Room 2
6     Squash Court
7    Snooker Table
8       Pool Table